<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Official NuGet package source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    
    <!-- My custom package source -->
    <add key="dotnet-dev-vzla/BankCore" value="https://dotnet-dev-vzla-411270824898.d.codeartifact.us-east-1.amazonaws.com/nuget/BankCore/v3/index.json" />
    <add key="dotnet-dev-vzla/HandlersCore" value="https://dotnet-dev-vzla-411270824898.d.codeartifact.us-east-1.amazonaws.com/nuget/HandlersCore/v3/index.json" />
    <add key="dotnet-dev-vzla/MessageCore" value="https://dotnet-dev-vzla-411270824898.d.codeartifact.us-east-1.amazonaws.com/nuget/MessageCore/v3/index.json" />
    <add key="dotnet-dev-vzla/NetCore" value="https://dotnet-dev-vzla-411270824898.d.codeartifact.us-east-1.amazonaws.com/nuget/NetCore/v3/index.json" />
    <add key="dotnet-dev-vzla/SettingsCore" value="https://dotnet-dev-vzla-411270824898.d.codeartifact.us-east-1.amazonaws.com/nuget/SettingsCore/v3/index.json" />
    <add key="dotnet-dev-vzla/RestClientsCore" value="https://dotnet-dev-vzla-411270824898.d.codeartifact.us-east-1.amazonaws.com/nuget/RestClientsCore/v3/index.json" />
    <add key="LocalNuget" value="%LocalNuget%" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="dotnet-dev-vzla/BankCore">
      <package pattern="devVzla.BancaAmiga" />
      <package pattern="devVzla.BancoBicentenario" />
      <package pattern="devVzla.BancoVzla" />
      <package pattern="devVzla.Banesco" />
      <package pattern="devVzla.InstaPagos" />
      <package pattern="devVzla.BankCore.*" />
    </packageSource>
    <packageSource key="dotnet-dev-vzla/HandlersCore">
      <package pattern="devVzla.DocumentsHandler" />
      <package pattern="devVzla.HttpClientHandler" />
      <package pattern="devVzla.ProviderHandler" />
      <package pattern="devVzla.SerialPortHandler" />
      <package pattern="devVzla.HandlersCore.*" />
    </packageSource>
    <packageSource key="dotnet-dev-vzla/MessageCore">
      <package pattern="devVzla.BridgesRestClient" />
      <package pattern="devVzla.InterConectados" />
      <package pattern="devVzla.WSCloud" />
      <package pattern="devVzla.MessageCore.*" />
    </packageSource>
    <packageSource key="dotnet-dev-vzla/NetCore">
      <package pattern="devVzla.MemoryCache" />
      <package pattern="devVzla.EFExtension" />
      <package pattern="devVzla.Logger" />
      <package pattern="devVzla.Rabbit" />
      <package pattern="devVzla.MongoDriverExtension" />
      <package pattern="devVzla.Utils" />
      <package pattern="devVzla.NetCore.*" />
    </packageSource>
    <packageSource key="dotnet-dev-vzla/SettingsCore">
      <package pattern="devVzla.BoxOfficeSettings" />
      <package pattern="devVzla.GraphQLSettings" />
      <package pattern="devVzla.MSSettings" />
      <package pattern="devVzla.MSTestSettings" />
      <package pattern="devVzla.SettingsCore.*" />
    </packageSource>
    <packageSource key="dotnet-dev-vzla/RestClientsCore">
      <package pattern="devVzla.CMEX.TollRestClient" />
      <package pattern="devVzla.GEEKC2E.C2ERestClient" />
      <package pattern="devVzla.GEEKC2E.ClientRestClient" />
      <package pattern="devVzla.MS.CurrencyRestClient" />
      <package pattern="devVzla.MS.ParkingRestClient" />
      <package pattern="devVzla.MS.SecurityRestClient" />
      <package pattern="devVzla.RestClientsCore.*" />
    </packageSource>
    <packageSource key="LocalNuget">
      <package pattern="devVzla.SNAPSHOT.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
